<section class="header">
  <div class="container">
    <a class="logo" href="https://www.instagram.com/ukr_beads/" target="_blank"
      ><img src="../img/Новый проект.webp" alt="" width="38" height="38"
    /></a>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item"><a href="">gallery</a></li>
        <li class="nav-list-item"><a href="">cabinet</a></li>
        <li class="nav-list-item"><a href="">history</a></li>
        <li class="nav-list-item"><a href="">collab</a></li>
      </ul>
    </nav>
  </div>
</section>
