<section class="hero">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="../img/IMG_4792.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="../img/IMG_4280.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="../img/IMG_4944.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="../img/IMG_4974.webp" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="../img/IMG_4985.webp" alt="" />
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</section>
