@import './header.css';
@import './hero.css';
@import './reset.css';
@import './swiper.css';
/* @import './swiper-setting.css'; */

body {
  font-family: 'Montserrat';
}
.container {
  height: 100%;
  width: 100%;
  padding: 0 8px;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
