.swiper {
  height: 200px;
  width: 100vw;
}

.swiper-slide img {
  position: absolute;
  top: -120px;
}

.swiper-slide {
  top: -4px;
  object-fit: cover;
  overflow: hidden;
}

.swiper-scrollbar {
}
